---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.tsx";
import CustomInput from "../components/CustomInput.tsx";
import Map from "../components/Map"
---

<Layout title="IP Address Tracker">
	<div
		class="bg-mobile md:bg-desktop bg-no-repeat bg-cover w-screen h-2/5 md:h-[calc(33.333333% + 20px)] bg-blue-500"
	>
		<div class="flex flex-col items-center gap-4 md:gap-8 mx-5 md:mx-0">
			<h1 style="font-family: 'Rubik';" class="text-white font-medium text-2xl md:text-4xl mt-5 md:mt-10">
				IP Address Tracker
			</h1>
			<CustomInput client:load />
			<Card client:load />
		</div>
	</div>
	<div class="w-screen h-3/5 md:h-[calc(66.666667% - 20px)]">
		<Map client:only="react" />
	</div>	
</Layout>
