---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main class="w-screen h-screen bg-slate-400">
			<slot />
		</main>
	</body>
</html>

<style is:global>
	/* Registra tu font family personalizada y le indicamos al navegador dónde encontrarla. */
	@font-face {
	  font-family: 'Rubik';
	  src: url('/fonts/Rubik-VariableFont_wght.ttf');
	  font-style: normal;
	  font-display: swap;
	}
</style>
